body {
  margin: 0;
}

.group {
  display: block;
  margin-top: 1em;
}

#page > input {
  display: none;
}

html, body, #page {
  height: 100%;
}

#page {
  overflow-x: scroll;
}

#page::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
  background-color: #888;
}

#page::-webkit-scrollbar-thumb {
  background-color: #111;
}

#page::-webkit-scrollbar-corner {
  background-color: #888;
}


table {
  border-spacing: 0px;
  position: relative;
  top: 2em;
  min-width: 100%;
}

td, th {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: dotted;
  border-right-width: 1px;
  padding: 4px;
  max-width: 50vw;
}

th {
  background-color: #f0f0f0;
}

.prop-det {
  font-weight: normal;
}

.prop-sum {
  font-weight: bold;
}

th {
  position: sticky;
}

.th-it {
  top: 2em;
  z-index: 2;
}

.th-pr, .th-sect {
  left: 0;
  max-width: 40vw;
  z-index: 3;
}

.th-pr {
  text-align: left;
}

.th-sect {
  text-align: right;
  font-weight: normal;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

#TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .p,
.benefit-all > .p,
.y {
  background-color: lime;
}

.n {
  background-color: orange;
}

#TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .n,
.benefit-all > .n,
.p {
  background-color: yellow;
}

#TEMPLATE_PERSONA:checked ~ table > tbody > :not(.require-TEMPLATE_PERSONA):not(.benefit-TEMPLATE_PERSONA):not(.require-all):not(.benefit-all) > td,
#DONTCARE
{
  background-color: white;
}

.a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: 0.4em;
  background-color: white;
}

details {
  min-width: 10vw;
  max-width: 50vw;
}

summary {
  cursor: pointer;
}

details[open] > summary {
  border-bottom: 1px solid;
}

label {
  padding-left: 1em;
  white-space: nowrap;
}

label[for="transpose"] {
  padding-left: 0;
}


h1 {
  margin-top: 1.5em;
}

#_nav {
  position: sticky;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 5;
}

#_top {
  padding-bottom: 1em;
}

#_filters {
  padding: 1em;
  border-style: solid;
  border-width: 1px;
}


#transpose:checked ~ table > tbody > tr > td,
#transpose:checked ~ table th {
  min-height: 1.5em;
  display: block;
}

#transpose:checked ~ table tr {
  display: inline-block;
  float: left;
}

#transpose:checked ~ table .tr-th {
  position: sticky;
  left: 0;
  z-index: 3;
}

#transpose:checked ~ table .th-pr,
#transpose:checked ~ table .th-sect
{
  top: 2em;
  left: initial;
  max-width: initial;
  z-index: 2;
}

#transpose:checked ~ table {
  overflow-x: initial;
  width: max-content;
}

#transpose:checked ~ table details[open] {
  display: block;
  position: absolute;
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

#transpose:checked ~ table .is-editor-container {
  position: absolute;
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}


#dark:checked ~ #_nav,
#dark:checked ~ table,
#dark:checked ~ table textarea,
#dark:checked ~ table input
{
  color: #ddd;
}

#dark:checked ~ #_nav,
#dark:checked ~ table > tbody > tr:nth-child(even),
#transpose:checked ~ #dark:checked ~ table details[open],
#transpose:checked ~ #dark:checked ~ table .is-editor-container,
#dark:checked ~ table textarea,
#dark:checked ~ table input
{
  background-color: black;
}

#dark:checked ~ table td,
#dark:checked ~ table th {
  border-color: #222;
}

#dark:checked ~ table th {
  background-color: #333;
}

#dark:checked ~ table > tbody > tr:nth-child(odd) {
  background-color: #080808;
}

#dark:checked ~ table .a {
  background-color: #222;
  color: #ddd;
}

#dark:checked ~ #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .p,
#dark:checked ~ table > tbody > .benefit-all > .p,
#dark:checked ~ table .y {
  background-color: #060;
  color: #fff;
}

#dark:checked ~ table .n {
  background-color: #600;
  color: #fff;
}

#dark:checked ~ #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .n,
#dark:checked ~ table > tbody > .benefit-all > .n,
#dark:checked ~ table .p {
  background-color: #880;
  color: #fff;
}

#dark:checked ~ #TEMPLATE_PERSONA:checked ~ table > tbody > :not(.require-TEMPLATE_PERSONA):not(.benefit-TEMPLATE_PERSONA):not(.require-all):not(.benefit-all) > td,
#DONTCARE
{
  background-color: black;
}


#contrast:checked ~ label,
#contrast:checked ~ table {
  font-weight: bold;
}

#contrast:checked ~ table th,
#contrast:checked ~ table tr,
#contrast:checked ~ table > tbody > tr > .y.y,
#contrast:checked ~ table > tbody > tr > .n.n,
#contrast:checked ~ table > tbody > tr > .p.p {
  background-color: white;
}

#contrast:checked ~ table .a {
  color: black;
}

#contrast:checked ~ #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .p:before,
#contrast:checked ~ table > tbody > .benefit-all > .p:before,
#contrast:checked ~ table .y:before {
  content: "+ ";
}

#contrast:checked ~ table .n:before {
  content: "- ";
}

#contrast:checked ~ #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .n:before,
#contrast:checked ~ table > tbody > .benefit-all > .n:before,
#contrast:checked ~ table .p:before {
  content: "~ ";
}

#contrast:checked ~ #TEMPLATE_PERSONA:checked ~ table > tbody > :not(.require-TEMPLATE_PERSONA):not(.benefit-TEMPLATE_PERSONA):not(.require-all):not(.benefit-all) > td:before,
#DONTCARE
{
  content: "";
}


#abbr:checked ~ table td,
#abbr:checked ~ table .th-it
{
  overflow: hidden;
}

#abbr:checked ~ table .th-it {
  max-width: 3em;
  height: 3em;
  white-space: nowrap;
  transform: rotate(-45deg);
  text-align: left;
  border: initial;
  font-size: small;
}

#abbr:checked ~ table td,
#abbr:checked ~ table th
{
  padding: initial;
}

#abbr:checked ~ table .prop-det
{
  min-width: initial;
}

#abbr:checked ~ table > tbody > tr > td > details
{
  display: none;
}

#abbr:checked ~ table th,
#abbr:checked ~ table .prop-sum
{
  font-weight: normal;
}

#contrast:checked ~ #abbr:checked ~ table th,
#contrast:checked ~ #abbr:checked ~ table .prop-sum
{
  font-weight: bold;
}

#abbr:checked ~ table td {
  max-width: 2em;
  white-space: nowrap;
  font-size: 0;
  vertical-align: top;
}

#abbr:checked ~ table .th-pr {
  vertical-align: top;
}

#abbr:checked ~ table td:before {
  font-size: initial;
  padding-right: 3em;
  vertical-align: top;
}

#abbr:checked ~ table td:not(:empty):before {
  content: '. ';
}

#abbr:checked ~ table td.y:before {
  content: '+ ';
}

#abbr:checked ~ table td.n:before {
  content: '- ';
}

#abbr:checked ~ table td.p:before {
  content: '~ ';
}

#abbr:checked ~ table td:not(:empty):hover {
  display: block;
  position: absolute;
  padding-right: 1em;
  padding-bottom: 1em;
  max-width: 50vw;
  white-space: initial;
  font-size: initial;
  z-index: 1;
}

#abbr:checked ~ table td:hover > details {
  display: initial;
}

#abbr:checked ~ table td:hover:before {
  padding-right: 2em;
}

#abbr:checked ~ table td:not(:empty):not(.y):not(.n):not(.p):hover {
  background-color: white;
}

#dark:checked ~ #abbr:checked ~ table td:not(:empty):not(.y):not(.n):not(.p):hover {
  background-color: black;
}


#documentation:target ~ #page #c_documentation,
#documentation:target ~ #page #c_documentation:visited
{
  color: initial;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

#c_chart,
#c_chart:visited
{
  text-decoration: underline;
}

#c_chart,
#c_chart:visited,
.button,
.button:visited,
.il
{
  color: #117;
}

#c_chart {
  display: none;
}

.c_documentation:target ~ #page #c_chart {
  display: initial;
}

.bl {
  color: #11f;
}

.il:visited {
  color: #505;
}

.bl:visited {
  color: #500;
}

@media (prefers-color-scheme: dark) {
  #_nav, html, textarea, input {
    background-color: black;
    color: #ddd;
  }

  #_nav,
  #transpose:checked ~ table details[open],
  #transpose:checked ~ table .is-editor-container {
    background-color: black;
  }

  td, th {
    border-color: #222;
  }

  th {
    background-color: #333;
  }

  tr:nth-child(odd) {
    background-color: #080808;
  }

  .a {
    background-color: #222;
    color: #eee;
  }

  #documentation:target ~ #page #c_documentation,
  #documentation:target ~ #page #c_documentation:visited
  {
    color: #ddd;
  }

  #c_chart,
  #c_chart:visited,
  .button,
  .button:visited,
  .il
  {
    color: #ddf;
  }

  .bl {
    color: #bbf;
  }

  .il:visited
  {
    color: #fdf;
  }

  .bl:visited
  {
    color: #fdd;
  }

  #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .p,
  .benefit-all > .p,
  .y {
    background-color: #060;
    color: #fff;
  }

  .n {
    background-color: #600;
    color: #fff;
  }

  #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .n,
  .benefit-all > .n,
  .p {
    background-color: #880;
    color: #fff;
  }

  #TEMPLATE_PERSONA:checked ~ table > tbody > :not(.require-TEMPLATE_PERSONA):not(.benefit-TEMPLATE_PERSONA):not(.require-all):not(.benefit-all) > td,
  #DONTCARE
  {
    background-color: black;
  }

  #abbr:checked ~ table td:not(:empty):not(.y):not(.n):not(.p):hover {
    background-color: black;
  }
}

@media (prefers-contrast: more) {
  th,
  tr,
  td.y,
  td.n,
  td.p {
    background-color: white;
  }

  .a {
    color: black;
  }

  #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .p:before,
  .benefit-all > .p:before,
  .y:before {
    content: "+ ";
  }

  .n:before {
    content: "- ";
  }

  #TEMPLATE_PERSONA:checked ~ table > tbody > .benefit-TEMPLATE_PERSONA > .n:before,
  .benefit-all > .n:before,
  .p:before {
    content: "~ ";
  }

  #TEMPLATE_PERSONA:checked ~ table > tbody > :not(.require-TEMPLATE_PERSONA):not(.benefit-TEMPLATE_PERSONA):not(.require-all):not(.benefit-all) > td:before,
  #DONTCARE
  {
    content: "";
  }

  body,
  #abbr:checked ~ table th,
  #abbr:checked ~ table .prop-sum
  {
    font-weight: bold;
  }
}

.P {
  display: none;
}

.C:checked ~ #_nav .P {
  display: initial;
}

#allprop:not(:checked) ~ #editor:checked ~ table tr\
:not(.require-TEMPLATE_PERSONA):not(.benefit-TEMPLATE_PERSONA)\
:not(.require-all):not(.benefit-all):not(:first-child):not(.section),
#allprop:not(:checked) ~ #TEMPLATE_PERSONA:checked ~ table tr:not(.require-TEMPLATE_PERSONA):not(.benefit-TEMPLATE_PERSONA):not(.info-TEMPLATE_PERSONA):not(.require-all):not(.benefit-all):not(.info-all):not(:first-child):not(.section),
.C:checked ~ .C:checked ~ #_nav .P,
.T:checked ~ #_nav .C,
:target ~ #page #_nav .C,
:target ~ #page #_nav .F,
.c_documentation:target ~ #page #v_chart,
.c_documentation:target ~ #page #_filters,
.c_documentation:target ~ #page [for="_expand"],
#documentation:not(:target) ~ #page > #v_documentation,
#all,
#_expand:not(:checked) ~ #_nav #_filters,
body:not(.is-js) .js-needed
{
  display: none;
}

:target ~ #page #_nav #all,
:target ~ #page #_nav #all ~ .P
{
  display: initial;
}

.button {
  margin-left: 2em;
  margin-right: 2em;
  padding: 3px;
  padding-bottom: 1px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.documentation {
  margin: 1em;
  padding: 1em;
}

.documentation .il,
.bl {
  margin-left: 1em;
}

blockquote {
  border-left-style: solid;
  padding-left: 1em;
}

#_font-system-ui:checked ~ * {
  font-family: system-ui;
}

#_font-sans:checked ~ * {
  font-family: sans-serif;
}

#_font-cursive:checked ~ * {
  font-family: cursive;
}

#_font-mono:checked ~ * {
  font-family: "OCRA", monospace;
}


@media (max-width: 450px) {
  label {
    padding-left: 0;
  }

  .button {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

@media (max-width: 350px) {
  .date {
    display: none;
  }

  .c_documentation:target ~ #page .date {
    display: block;
    float: right;
    padding-right: 0.5em;
  }

  .save-warn {
    float: right;
  }
}

/* editor */

pre {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  outline: auto;
}

body.is-js:not(.is-state-view) .js-state-view,
body.is-js:not(.is-state-edit) .js-state-edit,
body.is-js:not(.is-state-save-review) .js-state-save-review,
.c_documentation:target ~ #page .js-needed
{
  display: none;
}

body.is-state-edit tr:not(.section):not(.js-no-edit) > td {
  cursor: pointer;
}

body.is-state-edit tr:not(.section):not(.js-no-edit) > td:hover {
  outline: auto;
}

body.is-state-edit .a {
  pointer-events: none;
}

body.is-state-save-review #v_chart,
body.is-state-save-review #_filters,
body.is-state-save-review [for="_expand"]
{
  display: none;
}

body.is-state-save-review #about_project ~ #page > #v_about_project {
  display: initial;
}

.is-modified {
  font-style: italic;
  font-weight: bold;
}

.is-cell-div {
  width: 50vw;
}

.is-teaser {
  width: 90%;
}

.is-details {
  width: 95%;
  height: 5em;
}
