body {
  margin: 0;
}

input {
  margin-left: 0;
}

html, body, #page {
  height: 100%;
}

#page {
  overflow-x: scroll;
}

#page::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
  background-color: #888;
}

#page::-webkit-scrollbar-thumb {
  background-color: #111;
}

#page::-webkit-scrollbar-corner {
  background-color: #888;
}


table {
  border-spacing: 0px;
  position: relative;
  top: 0;
}

td, th {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: dotted;
  border-right-width: 1px;
  padding: 4px;
  max-width: 50vw;
}

th {
  background-color: #f0f0f0;
}

.prop-det {
  font-weight: normal;
}

.prop-sum {
  font-weight: bold;
}

th {
  position: sticky;
}

.th-it {
  top: 0;
  z-index: 2;
}

.th-pr, .th-sect {
  left: 0;
  text-align: left;
  max-width: 40vw;
  z-index: 3;
}

.th-sect {
  text-align: right;
  font-weight: normal;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

#foss:checked ~ table > tbody > .benefit-foss > .p,
#tinfoil:checked ~ table > tbody > .benefit-tinfoil > .p,
#layperson:checked ~ table > tbody > .benefit-layperson > .p,
.y {
  background-color: lime;
}

.n {
  background-color: orange;
}

#foss:checked ~ table > tbody > .benefit-foss > .n,
#tinfoil:checked ~ table > tbody > .benefit-tinfoil > .n,
#layperson:checked ~ table > tbody > .benefit-layperson > .n,
.p {
  background-color: yellow;
}

#foss:checked ~ table > tbody > :not(.require-foss, .benefit-foss) > td,
#tinfoil:checked ~ table > tbody > :not(.require-tinfoil, .benefit-tinfoil) > td,
#layperson:checked ~ table > tbody > :not(.require-layperson, .benefit-layperson) > td
{
  background-color: white;
}

.a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: 0.4em;
  background-color: white;
}

details {
  min-width: 10vw;
  max-width: 50vw;
}

summary {
  cursor: pointer;
}

label {
  padding-left: 1em;
  white-space: nowrap;
}


#transpose:checked ~ table > tbody > tr > td,
#transpose:checked ~ table th {
  min-height: 1.5em;
  display: block;
}

#transpose:checked ~ table tr {
  display: inline-block;
  float: left;
}

#transpose:checked ~ table .tr-th {
  position: sticky;
  left: 0;
  z-index: 3;
}

#transpose:checked ~ table .th-pr,
#transpose:checked ~ table .th-sect
{
  left: initial;
  top: 0;
  max-width: initial;
  z-index: 2;
}

#transpose:checked ~ table {
  overflow-x: initial;
  width: max-content;
}

#transpose:checked ~ table details[open] {
  display: block;
  position: absolute;
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

#transpose:checked ~ table .is-editor-container {
  position: absolute;
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}


#dark:checked ~ table,
#dark:checked ~ table textarea,
#dark:checked ~ table input
{
  color: #ddd;
}

#dark:checked ~ table > tbody > tr:nth-child(even),
#transpose:checked ~ #dark:checked ~ table details[open],
#transpose:checked ~ #dark:checked ~ table .is-editor-container,
#dark:checked ~ table textarea,
#dark:checked ~ table input
{
  background-color: black;
}

#dark:checked ~ table td,
#dark:checked ~ table th {
  border-color: #222;
}

#dark:checked ~ table th {
  background-color: #333;
}

#dark:checked ~ table > tbody > tr:nth-child(odd) {
  background-color: #080808;
}

#dark:checked ~ table .a {
  background-color: #222;
  color: #ddd;
}

#dark:checked ~ #foss:checked ~ table > tbody > .benefit-foss > .p,
#dark:checked ~ #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .p,
#dark:checked ~ #layperson:checked ~ table > tbody > .benefit-layperson > .p,
#dark:checked ~ table .y {
  background-color: #060;
  color: #fff;
}

#dark:checked ~ table .n {
  background-color: #600;
  color: #fff;
}

#dark:checked ~ #foss:checked ~ table > tbody > .benefit-foss > .n,
#dark:checked ~ #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .n,
#dark:checked ~ #layperson:checked ~ table > tbody > .benefit-layperson > .n,
#dark:checked ~ table .p {
  background-color: #880;
  color: #fff;
}

#dark:checked ~ #foss:checked ~ table > tbody > :not(.require-foss, .benefit-foss) > td,
#dark:checked ~ #tinfoil:checked ~ table > tbody > :not(.require-tinfoil, .benefit-tinfoil) > td,
#dark:checked ~ #layperson:checked ~ table > tbody > :not(.require-layperson, .benefit-layperson) > td
{
  background-color: black;
}


#contrast:checked ~ label,
#contrast:checked ~ table {
  font-weight: bold;
}

#contrast:checked ~ table th,
#contrast:checked ~ table tr,
#contrast:checked ~ table > tbody > tr > .y.y,
#contrast:checked ~ table > tbody > tr > .n.n,
#contrast:checked ~ table > tbody > tr > .p.p {
  background-color: white;
}

#contrast:checked ~ table .a {
  color: black;
}

#contrast:checked ~ #foss:checked ~ table > tbody > .benefit-foss > .p:before,
#contrast:checked ~ #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .p:before,
#contrast:checked ~ #layperson:checked ~ table > tbody > .benefit-layperson > .p:before,
#contrast:checked ~ table .y:before {
  content: "+ ";
}

#contrast:checked ~ table .n:before {
  content: "- ";
}

#contrast:checked ~ #foss:checked ~ table > tbody > .benefit-foss > .n:before,
#contrast:checked ~ #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .n:before,
#contrast:checked ~ #layperson:checked ~ table > tbody > .benefit-layperson > .n:before,
#contrast:checked ~ table .p:before {
  content: "~ ";
}

#contrast:checked ~ #foss:checked ~ table > tbody > :not(.require-foss, .benefit-foss) > td:before,
#contrast:checked ~ #tinfoil:checked ~ table > tbody > :not(.require-tinfoil, .benefit-tinfoil) > td:before,
#contrast:checked ~ #layperson:checked ~ table > tbody > :not(.require-layperson, .benefit-layperson) > td:before
{
  content: "";
}


#abbr:checked ~ table td,
#abbr:checked ~ table .th-it
{
  overflow: hidden;
}

#abbr:checked ~ table .th-it {
  max-width: 3em;
  height: 3em;
  white-space: nowrap;
  transform: rotate(-45deg);
  text-align: left;
  border: initial;
  font-size: small;
}

#abbr:checked ~ table td,
#abbr:checked ~ table th
{
  padding: initial;
}

#abbr:checked ~ table .prop-det
{
  min-width: initial;
}

#abbr:checked ~ table > tbody > tr > td > details
{
  display: none;
}

#abbr:checked ~ table th,
#abbr:checked ~ table .prop-sum
{
  font-weight: normal;
}

#contrast:checked ~ #abbr:checked ~ table th,
#contrast:checked ~ #abbr:checked ~ table .prop-sum
{
  font-weight: bold;
}

#abbr:checked ~ table td {
  max-width: 2em;
  white-space: nowrap;
  font-size: 0;
  vertical-align: top;
}

#abbr:checked ~ table .th-pr {
  vertical-align: top;
}

#abbr:checked ~ table td:before {
  font-size: initial;
  padding-right: 3em;
  vertical-align: top;
}

#abbr:checked ~ table td:not(:empty):before {
  content: '. ';
}

#abbr:checked ~ table td.y:before {
  content: '+ ';
}

#abbr:checked ~ table td.n:before {
  content: '- ';
}

#abbr:checked ~ table td.p:before {
  content: '~ ';
}

#abbr:checked ~ table td:not(:empty):hover {
  display: block;
  position: absolute;
  padding-right: 1em;
  padding-bottom: 1em;
  max-width: 50vw;
  white-space: initial;
  font-size: initial;
  z-index: 1;
}

#abbr:checked ~ table td:hover > details {
  display: initial;
}

#abbr:checked ~ table td:hover:before {
  padding-right: 2em;
}

#abbr:checked ~ table td:not(:empty, .y, .n, .p):hover {
  background-color: white;
}

#dark:checked ~ #abbr:checked ~ table td:not(:empty, .y, .n, .p):hover {
  background-color: black;
}


#documentation:target ~ #page > #c_documentation,
#documentation:target ~ #page > #c_documentation:visited,
#c_chart,
#c_chart:visited
{
  color: initial;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.c_documentation:target ~ #page > #c_chart,
.c_documentation:target ~ #page > #c_chart:visited
{
  cursor: pointer;
  pointer-events: initial;
  text-decoration: underline;
}

.c_documentation:target ~ #page > #c_chart,
.c_documentation:target ~ #page > #c_chart:visited,
.button,
.button:visited,
.il
{
  color: #117;
}

.bl {
  color: #11f;
}

.il:visited {
  color: #505;
}

.bl:visited {
  color: #500;
}

@media (prefers-color-scheme: dark) {
  html, textarea, input {
    background-color: black;
    color: #ddd;
  }

  #transpose:checked ~ table details[open],
  #transpose:checked ~ table .is-editor-container {
    background-color: black;
  }

  td, th {
    border-color: #222;
  }

  th {
    background-color: #333;
  }

  tr:nth-child(odd) {
    background-color: #080808;
  }

  .a {
    background-color: #222;
    color: #eee;
  }

  #documentation:target ~ #page > #c_documentation,
  #documentation:target ~ #page > #c_documentation:visited,
  #c_chart,
  #c_chart:visited
  {
    color: #ddd;
  }

  .c_documentation:target ~ #page > #c_chart,
  .c_documentation:target ~ #page > #c_chart:visited,
  .button,
  .button:visited,
  .il
  {
    color: #ddf;
  }

  .bl {
    color: #bbf;
  }

  .il:visited
  {
    color: #fdf;
  }

  .bl:visited
  {
    color: #fdd;
  }

  #foss:checked ~ table > tbody > .benefit-foss > .p,
  #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .p,
  #layperson:checked ~ table > tbody > .benefit-layperson > .p,
  .y {
    background-color: #060;
    color: #fff;
  }

  .n {
    background-color: #600;
    color: #fff;
  }

  #foss:checked ~ table > tbody > .benefit-foss > .n,
  #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .n,
  #layperson:checked ~ table > tbody > .benefit-layperson > .n,
  .p {
    background-color: #880;
    color: #fff;
  }

  #foss:checked ~ table > tbody > :not(.require-foss, .benefit-foss) > td,
  #tinfoil:checked ~ table > tbody > :not(.require-tinfoil, .benefit-tinfoil) > td,
  #layperson:checked ~ table > tbody > :not(.require-layperson, .benefit-layperson) > td
  {
    background-color: black;
  }

  #abbr:checked ~ table td:not(:empty, .y, .n, .p):hover {
    background-color: black;
  }
}

@media (prefers-contrast: more) {
  th,
  tr,
  td.y,
  td.n,
  td.p {
    background-color: white;
  }

  .a {
    color: black;
  }

  #foss:checked ~ table > tbody > .benefit-foss > .p:before,
  #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .p:before,
  #layperson:checked ~ table > tbody > .benefit-layperson > .p:before,
  .y:before {
    content: "+ ";
  }

  .n:before {
    content: "- ";
  }

  #foss:checked ~ table > tbody > .benefit-foss > .n:before,
  #tinfoil:checked ~ table > tbody > .benefit-tinfoil > .n:before,
  #layperson:checked ~ table > tbody > .benefit-layperson > .n:before,
  .p:before {
    content: "~ ";
  }

  #foss:checked ~ table > tbody > :not(.require-foss, .benefit-foss) > td:before,
  #tinfoil:checked ~ table > tbody > :not(.require-tinfoil, .benefit-tinfoil) > td:before,
  #layperson:checked ~ table > tbody > :not(.require-layperson, .benefit-layperson) > td:before
  {
    content: "";
  }

  body,
  #abbr:checked ~ table th,
  #abbr:checked ~ table .prop-sum
  {
    font-weight: bold;
  }
}

.P {
  display: none;
}

.C:checked ~ .P {
  display: initial;
}

#allprop:not(:checked) ~ #editor:checked ~ table tr:not(
  .require-foss, .benefit-foss,
  .require-layperson, .benefit-layperson,
  .require-tinfoil, .benefit-tinfoil,
  .require-all, .benefit-all,
  :first-child,
  .section),
#allprop:not(:checked) ~ #foss:checked ~ table tr:not(.require-foss, .benefit-foss, .info-foss, .require-all, .benefit-all, .info-all, :first-child, .section),
#allprop:not(:checked) ~ #tinfoil:checked ~ table tr:not(.require-tinfoil, .benefit-tinfoil, .info-tinfoil, .require-all, .benefit-all, .info-all, :first-child, .section),
#allprop:not(:checked) ~ #layperson:checked ~ table tr:not(.require-layperson, .benefit-layperson, .info-layperson, .require-all, .benefit-all, .info-all, :first-child, .section),
.C:checked ~ .C:checked ~ .P,
.T:checked ~ .C,
:target ~ #page > #v_chart > .C,
:target ~ #page > #v_chart > .F,
.c_documentation:target ~ #page > #v_chart,
#documentation:not(:target) ~ #page > #v_documentation,
#all,
body:not(.is-js) .js-needed
{
  display: none;
}

:target ~ #page > #v_chart > #all,
:target ~ #page > #v_chart > #all ~ .P
{
  display: initial;
}

.button {
  margin-left: 2em;
  margin-right: 2em;
  padding: 3px;
  padding-bottom: 1px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.top_tab,
.button {
  margin-left: 2em;
}

.documentation {
  margin: 1em;
  padding: 1em;
}

.documentation .il,
.bl {
  margin-left: 1em;
}

blockquote {
  border-left-style: solid;
  padding-left: 1em;
}

/* editor */

pre {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  outline: auto;
}

body.is-js:not(.is-state-view) .js-state-view,
body.is-js:not(.is-state-edit) .js-state-edit,
body.is-js:not(.is-state-save-review) .js-state-save-review,
.c_documentation:target ~ #page .js-needed
{
  display: none;
}

body.is-state-edit tr:not(.section, .js-no-edit) > td {
  cursor: pointer;
}

body.is-state-edit tr:not(.section, .js-no-edit) > td:hover {
  outline: auto;
}

body.is-state-edit .a {
  pointer-events: none;
}

body.is-state-save-review main {
  display: none;
}

.is-modified {
  font-style: italic;
  font-weight: bold;
}

.is-cell-div {
  width: 50vw;
}

.is-teaser {
  width: 90%;
}

.is-details {
  width: 95%;
  height: 5em;
}
